body {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #8f8f8f;
}

/* section */

.big-heading { 
    font-size: 3.5rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 7% 15%;
}

.color-section {
    background-color: #ff4c68;
    color: white;
}

.white-section {
    background-color: white;
}

/* Title section */

#title .container-fluid {
    padding: 3% 15%;
    text-align: left;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-items {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.positioning-title-image {
    position: relative;
}

.title-image {
    position: absolute;
    width: 60%;
    transform: rotate(25deg);
    right: 20%;
}


/* Feature section */

#features {
    position: relative;
}

.feature-box {
    padding: 5%;
}

.icon {
    color: #ef8172;
    padding: 4.5%;
}

.icon:hover {
    color: #ff4c68;
}

.feature-title {
    font-size: 1.3rem;
}

/* testimonials section */

#testimonials {
    background-color: #ef8172;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

/* press section */

#press {
    background-color: #ef8172;
    padding-bottom: 3%
}

.press-image {
    width: 20%;
    margin: 20px 20px 50px;
}

/* Pricing section */

#pricing {
    margin: 7% 15%;
}

.pricing-column {
    padding: 3%;
}

.pricing-text {
    font-size: 3rem;
    line-height: 1.5;
}

.card-title {
    font-size: 1.3rem;
}

/* footer section */

#footer {
    padding: 7% 15% 2%;
}

.footer-link {
    font-size: 2rem;
    padding: 0 20px 60px 0;
    color: black
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}